<!-- Learn more about CI and Project Civility -->

<div class="background-image">
  <ul class="navbar nav forum-nav-items" layout="row">
    <li><a md-no-ink class="md-primary" ng-href="#/home">Home</a></li>
  </ul>
  <h2 class="md-display-2 title">About Civility International</h2>
  <br>
  <br>

  <!-- Mission -->
  <h2 class="section-paragraph"><strong>Mission</strong></h2>
    <p class="mission-paragraph md-headline">Civility International is a non-profit organization that focus on promoting, advocating, and empowering young leaders across the United States to create a culture of civility, diversity, and acceptance for everyone to learn, develop, and thrive. Through helping create and support campus wide civility organizations, Civility International plans on creating a culture at every school that embraces diversity, individualism and respect. <a href="#/register">Get started</a></p>
  <br><br>

  <div ng-include="'views/footer.html'"></div>
</div>
