<div class="background-image">
  <ul class="navbar nav forum-nav-items" layout="row">
    <li><a md-no-ink class="md-primary" ng-href="#/home">Home</a></li>
  </ul>
  <h2 class="md-display-2 title">Meet the Team</h2>
  <br>
  <br>

  <md-content layout-margin layout="row" layout-sm="column" layout-xs="column" layout-align="center center" class="team-background">
    <div class="cardWrapper">
      <div class="card">
        <div class="cardFace front">
          <div class="team-cover">
            <img src="images/shan-cover.jpg"/>
          </div>
          <div class="user">
              <img class="img-circle" src="images/shan.jpg" alt="Shan Qureshi" />
          </div>
          <h1>Shan Qureshi</h1>
          <h3>Co-Founder & CEO</h3>
        </div>
        <div class="cardFace back">
          <h1>Specialty</h1>
          <div class="moreInfo">
            Grant Specialist
          </div>
          <h2 class="team-card-quote"><i>"I eat cake because it's somebody's birthday somewhere."</i></h2>
          <div class="card-footer-shan">
            <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Cincinnati, Ohio</h5>
            <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> Shan@civilityinternational.org</h5>
              <div class="social-links text-center">
                <a href="" class="facebook" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                <a href="" class="linkedin" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                <a href="" class="twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="cardWrapper">
      <div class="card">
        <div class="cardFace front">
          <div class="team-cover">
            <img src="images/mitrakos-cover.jpg"/>
          </div>
          <div class="user">
             <img class="img-circle" src="images/mitrakos.jpg" alt="Michael Mitrakos" />
          </div>
          <h1>Michael Mitrakos</h1>
          <h3>Co-Founder & CTO</h3>
        </div>
        <div class="cardFace back">
          <h1>Specialty</h1>
          <div class="moreInfo">
            Full-Stack Developer
          </div>
          <h2 class="team-card-quote"><i>"Be more humble about what you know and more confident about what you can accomplish."</i></h2>
          <div class="card-footer-mitrakos">
            <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Santa Monica, CA</h5>
            <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> michael@civilityinternational.org</h5>
              <div class="social-links text-center">
                  <a href="http://www.facebook.com/michaelmitrakos" class="facebook"  target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://www.linkedin.com/in/michaelmitrakos" class="linkedin"  target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                  <a href="http://www.twitter.com/mike_mitrakos" class="twitter"  target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="cardWrapper">
      <div class="card">
        <div class="cardFace front">
          <div class="team-cover">
            <img src="images/shar-cover.jpg"/>
          </div>
          <div class="user">
              <img class="img-circle" src="images/shar.jpg" alt="Shar Qureshi" />
          </div>
          <h1>Shar Qureshi</h1>
          <h3>Co-Founder & CFO</h3>
        </div>
        <div class="cardFace back">
          <h1>Specialty</h1>
          <div class="moreInfo">
            Business Development
          </div>
          <h2 class="team-card-quote"><i>"I eat cake because it's somebody's birthday somewhere."</i></h2>
          <div class="card-footer-shar">
            <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Cincinnati, Ohio</h5>
            <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> shar@civilityinternational.org</h5>
              <div class="social-links text-center">
                <a href="" class="facebook" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                <a href="" class="linkedin" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                <a href="" class="twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </md-content>
  <br>

  <md-content class="team-background" layout-margin layout="row" layout-sm="column" layout-xs="column" layout-align="center center">
    <div class="cardWrapper">
      <div class="card">
        <div class="cardFace front">
          <div class="team-cover">
            <img src="images/mitrakos-cover.jpg"/>
          </div>
          <div class="user">
              <img class="img-circle" src="images/jaree.jpg" alt="Jaree Naqvi"/>
          </div>
          <h1>Jaree Naqvi</h1>
          <h3>Co-Founder & Chief Creative Officer</h3>
        </div>
        <div class="cardFace back">
          <h1>Specialty</h1>
          <div class="moreInfo">
            Design Guru
          </div>
          <h2 class="team-card-quote"><i>"I eat cake because it's somebody's birthday somewhere."</i></h2>
          <div class="card-footer-shan">
            <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Cincinnati, OH</h5>
            <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> jaree@civilityinternational.org</h5>
              <div class="social-links text-center">
                <a href="" class="facebook" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                <a href="" class="linkedin" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                <a href="" class="twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="cardWrapper">
      <div class="card">
        <div class="cardFace front">
          <div class="team-cover">
            <img src="images/mitrakos-cover.jpg"/>
          </div>
          <div class="user">
             <img class="img-circle" src="images/kofi.jpg" alt="Kofi Ansah" />
          </div>
          <h1>Kofi Ansah</h1>
          <h3>Business Development</h3>
        </div>
        <div class="cardFace back">
          <h1>Specialty</h1>
          <div class="moreInfo">
            Territory Development
          </div>
          <h2 class="team-card-quote"><i>"Be more humble about what you know and more confident about what you can accomplish."</i></h2>
          <div class="card-footer-mitrakos">
            <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Cincinnati, Ohio</h5>
            <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> kofi@civilityinternational.org</h5>
              <div class="social-links text-center">
                  <a href="http://www.facebook.com/michaelmitrakos" class="facebook"  target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://www.linkedin.com/in/michaelmitrakos" class="linkedin"  target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                  <a href="http://www.twitter.com/mike_mitrakos" class="twitter"  target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="cardWrapper">
      <div class="card">
        <div class="cardFace front">
          <div class="team-cover">
            <img src="images/mitrakos-cover.jpg"/>
          </div>
          <div class="user">
             <img class="img-circle" src="images/career-headshot-2.jpg" alt="Michael Mitrakos" />
          </div>
          <h1>We're Hiring!</h1>
          <h3>Community Manager</h3>
        </div>
        <div class="cardFace back">
          <h1>Specialty</h1>
          <div class="moreInfo">
            People person, social media guru, excellent writer
          </div>
          <h2 class="team-card-quote"><i>We're looking for teammates that fit our culture of kindness, hard work, dedication, and respect.</i></h2>
          <div class="card-footer-mitrakos">
            <h5><i class="fa fa-map-marker fa-fw text-muted"></i> Wherever makes you happy</h5>
            <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> contact@civilityinternational.org</h5>
              <div class="social-links text-center">
                  <a href="https://www.facebook.com/CivilityINTL" class="facebook"  target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://www.linkedin.com/company/civility-international" class="linkedin"  target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                  <a href="https://twitter.com/CivilityINTL" class="twitter"  target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>

  </md-content>
  <div ng-include="'views/footer.html'"></div>
</div>
