<div class="background-image">
  <ul class="navbar nav forum-nav-items" layout="row">
    <li><a md-no-ink class="md-primary" ng-href="#/home">Home</a></li>
  </ul>
  <h2 class="md-display-2 title">Work With Us</h2>
  <br>
  <br>

  <md-content layout-margin layout="row" layout-sm="column" layout-xs="column" layout-align="center center" class="team-background">
    <div class="cardWrapper">
      <div class="card">
        <div class="cardFace front">
          <div class="team-cover">
            <img src="images/shan-cover.jpg"/>
          </div>
          <div class="user">
              <img class="img-circle" src="images/career-headshot-1.jpg" alt="You" />
          </div>
          <h1>We're Hiring!</h1>
          <h3>Grant Specialist</h3>
        </div>
        <div class="cardFace back">
          <h1>Specialty</h1>
          <div class="moreInfo">
            Grant Researcher, writer, and everything that comes with landing valuable grants :)
          </div>
          <h2 class="team-card-quote"><i>We're looking for teammates that fit our culture of kindness, hard work, dedication, and respect.</i></h2>
          <div class="card-footer-mitrakos">
            <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> contact@civilityinternational.org</h5>
              <div class="social-links text-center">
                <a href="https://www.facebook.com/CivilityINTL" class="facebook"  target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                <a href="http://www.linkedin.com/company/civility-international" class="linkedin"  target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                <a href="https://twitter.com/CivilityINTL" class="twitter"  target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="cardWrapper">
      <div class="card">
        <div class="cardFace front">
          <div class="team-cover">
            <img src="images/mitrakos-cover.jpg"/>
          </div>
          <div class="user">
             <img class="img-circle" src="images/career-headshot-2.jpg" alt="Michael Mitrakos" />
          </div>
          <h1>We're Hiring!</h1>
          <h3>Community Manager</h3>
        </div>
        <div class="cardFace back">
          <h1>Specialty</h1>
          <div class="moreInfo">
            People person, social media guru, excellent writer
          </div>
          <h2 class="team-card-quote"><i>We're looking for teammates that fit our culture of kindness, hard work, dedication, and respect.</i></h2>
          <div class="card-footer-mitrakos">
            <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> contact@civilityinternational.org</h5>
              <div class="social-links text-center">
                  <a href="https://www.facebook.com/CivilityINTL" class="facebook"  target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                  <a href="http://www.linkedin.com/company/civility-international" class="linkedin"  target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                  <a href="https://twitter.com/CivilityINTL" class="twitter"  target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="cardWrapper">
      <div class="card">
        <div class="cardFace front">
          <div class="team-cover">
            <img src="images/shar-cover.jpg"/>
          </div>
          <div class="user">
              <img class="img-circle" src="images/career-headshot-3.jpg" alt="Shar Qureshi" />
          </div>
          <h1>We're Hiring!</h1>
          <h3>Growth Hacker</h3>
        </div>
        <div class="cardFace back">
          <h1>Specialty</h1>
          <div class="moreInfo">
            Business development and sales! You're going to help us expand to every college campus in the nation
          </div>
          <h2 class="team-card-quote"><i>We're looking for teammates that fit our culture of kindness, hard work, dedication, and respect.</i></h2>
          <div class="card-footer-mitrakos">
            <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> contact@civilityinternational.org</h5>
              <div class="social-links text-center">
                <a href="https://www.facebook.com/CivilityINTL" class="facebook"  target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
                <a href="http://www.linkedin.com/company/civility-international" class="linkedin"  target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
                <a href="https://twitter.com/CivilityINTL" class="twitter"  target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </md-content>
  <br>

  <div ng-include="'views/footer.html'"></div>
</div>
