<div class="background-image">
  <ul class="navbar nav forum-nav-items" layout="row">
    <li><a md-no-ink class="md-primary" ng-href="#/home">Home</a></li>
  </ul>
    <md-card class="auth-forms title">
      <br><br>
      <h2>Get in Touch</h2>
      <form name="contact" ng-submit="">

        <md-input-container class="md-block" flex-gt-sm>
          <label>Subject</label>
          <input required type="text" name="subject">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Body</label>
          <input required type="text">
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary">Submit</md-button>
      </form>
      <br>
    </md-card>
    <br><br>
    <div ng-include="'views/footer.html'"></div>
</div>
