<nav class="footer">
  <div class="container-fluid">

    <div layout="row" layout-align="center" layout-xs="column">
      <ul class="icons">
        <md-button aria-label="Facebook" layout-align="center center" class="md-fab md-raised md-mini" target="_blank" ng-href="https://www.facebook.com/CivilityINTL">
          <ng-md-icon icon="facebook" class="social-icon" style="fill: #43609F" size="30"></ng-md-icon>
        </md-button>
        <md-button aria-label="Twitter" layout-align="center center" class="md-fab md-raised md-mini" target="_blank" ng-href="https://twitter.com/CivilityINTL">
          <ng-md-icon icon="twitter" class="social-icon" style="fill: #059FF5" size="31"></ng-md-icon>
        </md-button>
        <md-button aria-label="LinkedIn" layout-align="center center" class="md-fab md-raised md-mini" target="_blank" ng-href="http://www.linkedin.com/company/civility-international">
          <ng-md-icon icon="linkedin" class="social-icon" style="fill: #0F86BF" size="31"></ng-md-icon>
        </md-button>
        <md-button aria-label="Instagram" layout-align="center center" class="md-fab md-raised md-mini" target="_blank" ng-href="https://www.instagram.com/civilityintl/">
          <img src="images/instagram.png" class="social-icon instagram-icon" size="28" />
        </md-button>

        <br>

        <div layout="row" layout-xs="column">
          <div layout="row" flex>
            <md-button class="footer-text" ng-href="#/about">About</md-button>
            <md-button class="footer-text" ng-href="#/careers">Careers</md-button>
            <md-button class="footer-text" a ng-href="#/contact">Contact</md-button>
          </div>
          <div layout="row" flex>
            <md-button class="footer-text" ng-href="#/donate">Donate</md-button>
            <md-button class="footer-text" ng-href="#/team">Team</md-button>
          </div>
        </div>

      </ul>
    </div>

  </div>
</nav>
